*{
    margin: 0;
    padding : 0;

}
.wrapper{ 
    width : 800px;
    min-height: 50px;
    margin: auto;
    margin-top: 100px; 
}
.logo{
    opacity: .5;
    line-height: 2em;
}
.todohead{
    width : 800px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #eee;
    border-radius: 10px;
}
body{ 
    background: #ddcaa6;
}
.todohead input{
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1em;
    outline: none;
    width: 500px;
    border-radius: 10px;
    border:1px solid #dddddd; 
}
.todohead button{
    padding: 0 1em;
    height: 2.5em;
    line-height: 2.5em; 
    border-radius: 10px;
    border:1px solid #dddddd;
    margin-left: 3em; 
    outline: none;
    cursor: pointer;
}
.todohead button:hover{
    background: #ccc
}
.todohead button:active{
    background: #aaa
}

.itemlist{
    padding: 2em 0;
    width:780px;
    min-height: 100px;
    background: rgba(255, 255, 255, .2);
    margin: auto; 
    margin-top: 10px;
}
li {
    position: relative;
    list-style: none;
    width: 85%;
    height: 3.2em;
    line-height: 3.2em;
    color: #454545;
    padding-left: 2em;
    background: #efefef;
    border-radius: 5px;
    margin: .3em auto; 
    cursor: pointer;
}
li .indexnum{
    height: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0 2em 0 0;  
    text-align: center;
}

li .close{
    position: absolute; 
    width:  1.2em;
    height: 1.2em;
    font-size: 1em;
    background: red; 
    right: 2em;  
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center; 
    opacity: .5;
} 
li .close:hover{
    opacity: 1;
}